
$primary-color: rgb(62, 100, 255);
$complete-color: #27aa80;
$text-color: #172b4d;
$disabled-color: #fad6d6;
$background-color: #f5eaea;
$linear-bg: linear-gradient(90deg, rgba(20,20,20,50) 0%, rgba(40,40,40,70) 46%, rgba(60,60,60,60) 100%);

html {
  background: $linear-bg
}

body {
  color: $text-color;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  text-align: left;
}

.root{
  background: $linear-bg;
    //display: grid;
    //grid-gap: 10px;
    //grid-template-columns: 1fr 4fr 1fr;
    //grid-template-areas:
    //"header header header"
    //"sidebar content content"
    //"sidebar  ......  .......";
    //color: #444;

  overflow-x: scroll;
}
.header{
  grid-area: header;
  grid-row: 1;
  //border: 1px solid #777;

}

.content{
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //border: 1px solid #777;
  &__add-btn{
    width: 4rem;
    height: 4rem;
  }

}

.sidebar{
  grid-area: sidebar;
  border: 1px solid #777;
  height: 70vh;
}


label {
  font-size: 1rem;
  display: block;
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}



.item {
  display: flex;
  flex-direction: column;

;

  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 1;
  background-color: white;
  max-width: 20rem;

  &:hover{
    cursor: pointer;
  }
  &__content{

  }
  &__title{
    grid-area: title;
    font-weight: 600;
    font-size: 0.8rem;
  }
  &__status{
    grid-area: status;
    text-align: right;
  }
  &__label-section{
    grid-area: labels;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr) ;
  }
  &__label-span{
    padding: 0.1rem;
    border-radius: .5rem;
    text-align: center;
  }
  &__dl-btn{
    grid-area: dlbtn;
  }
  &__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: $background-color;
  border-radius: 5px;
  //min-width: 250px;
  &__col-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.page-header {
  background-color: #054F7C;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #DCDCDC;
}

.label-modal{
  background-color: #fff;
  justify-content: space-evenly;
  border-radius: .05rem;
  margin: 3rem ;
  min-height: 5rem;
  width: 15rem;
  outline: none;
  padding: 1rem;
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__input{
    height: 3rem;
  }
  &__item{
    text-align: center;
    padding: .7rem;
    margin: 0.2rem 0;
    color: #fff;
    &:hover{
      cursor: pointer;
      border: 1px solid black;
      border-radius: .5rem;
    }
  }
}

.label-span{
  padding: .4rem .2rem;
  border-radius: .2rem;
  margin: 0.2rem;
}
.label_content{
  margin: 2rem 0rem;

}
