$primary-color: rgb(62, 100, 255);
$complete-color: #27aa80;
$text-color: #172b4d;
$disabled-color: #fad6d6;
$background-color: #f5eaea;
$linear-bg: linear-gradient(
  90deg,
  rgba(20, 20, 20, 50) 0%,
  rgba(40, 40, 40, 70) 46%,
  rgba(60, 60, 60, 60) 100%
);

//global
html {
  background: $linear-bg;
}

body {
  color: $text-color;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  text-align: left;
  font-size: 1rem;
}

// main page
#root {
  background: $linear-bg;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  background-color: $background-color;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  &__inner {
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
  }
}
// main content wrapper
.middle {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  height: 70vh;
  overflow-x: auto;
  padding: 5rem;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(256, 256, 256, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    //background-color: #d6dee1;
    border-radius: 1rem;
  }
}

//  hold the actual content
.content {
  display: flex;
  flex-direction: row;
  &__add-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__add-btn {
    height: 2rem;
    width: 2rem;
  }
  &__input {
    flex: 1;
    border: 2px solid $disabled-color;
    caret-color: red;
    font-size: 1rem;

    &:focus {
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ece;
    }
    &::placeholder {
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

// wrapper of all columns
.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: $background-color;
  max-height: 60vh;
  border-radius: 0.5rem;
  &__col-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
  }
  &__input {
    margin-top: 0.5rem;
    border: 2px solid $disabled-color;
    caret-color: red;
    font-size: 1rem;
    padding: 1rem;
    &:focus {
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ece;
    }
    &::placeholder {
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

// task
.item {
  display: flex;
  min-height: 7vh;
  flex-direction: column;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 1;
  background-color: white;
  width: 16rem;

  &:hover {
    cursor: pointer;
  }
  &__content {
  }
  &__title {
    font-weight: 600;
    font-size: 0.8rem;
  }
  &__status {
    text-align: right;
  }
  &__label-section {
    padding-top: 0.5rem;
  }
  &__label-span {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.1rem 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    min-width: 1rem;
  }
  &__dl-btn {
    background-color: white;
    border: 1px solid #fff;
    color: #999999;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      border: 1px solid red;
      transition: transform 150ms;
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// delete modal
.delete-modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 10rem 10rem 25rem 10rem;
  min-width: 15rem;
  min-height: 15rem;
  outline: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__msg {
    align-self: center;
    font-size: 1.5rem;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--action {
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    border: 1px solid #cccccc;
  }
  &__icon {
    font-size: 1.5rem;
  }
  &__header-txt {
    font-size: 2rem;
    font-weight: 600;
  }
  &__alert {
    margin-right: 0.6rem;
  }
  &__yes {
    background-color: rgba(250, 0, 0, 0.3);
  }
  &__no {
    background-color: rgba(0, 250, 0, 0.3);
  }
  &__cancel {
    border: none;
  }
}

// drop wrapper of columns
.drop-wrapper {
  //flex: 1 ;
  //width: 100%;
  min-width: 17rem;

  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ccc;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eee;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $background-color;
    position: sticky;
    top: 0;
  }
  &__header-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
  &--icon {
    //padding: 0.5rem;
    cursor: pointer;
    transform: scale(1.2);

    &:hover {
      transform: scale(1.6);
      transition: transform 150ms;
      color: transparent;
      text-shadow: 0 0 0 #ff4400;
    }
  }
}

// the modal that shows details of a task
.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 4rem 2rem;
  //min-height: 450px;
  width: 40rem;
  outline: none;
  padding: 20px;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__desc {
    padding-left: 2.4rem;
  }
  &__status {
    padding-left: 2.2rem;
  }
  &__label-span {
    padding: 0.4rem 0.2rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
  }
  &__label-labels {
    padding-left: 2.4rem;
    display: flex;
    flex-direction: row;
    color: white;
  }
  &__label--add {
    color: #555;
    border: 1px solid $complete-color;
    padding: 0.4rem 0.2rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
    cursor: pointer;
  }
  &__closed-btn {
    background: transparent;
    cursor: pointer;
    &:hover {
      transform: scale(1.8);
      transition: transform 150ms;
    }
  }
}

//global overlay for all modals
.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// the modal that shows labels
.label-modal {
  background-color: #fff;
  justify-content: space-evenly;
  border-radius: 0.05rem;
  margin: 3rem;
  width: 15rem;
  //min-height: rem;
  max-height: 35rem;
  outline: none;
  padding: 1rem;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $background-color;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__input {
    height: 3rem;
    outline: none;
    border: 3px solid $background-color;
    border-radius: 0.3rem;
    &::placeholder {
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
    &:focus {
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ece;
    }
  }
  &__add-btn {
    padding: 0.5rem;
    margin-top: 1rem;
    outline: none;
    border: 3px solid $background-color;
    border-radius: 0.3rem;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  &__item {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem 0.2rem 0.2rem 0;
    color: #fff;
    border-radius: 0.2rem;
    &:hover {
      cursor: pointer;
      border-left: 1rem solid opacify(transparent, 0.3);
    }
  }
  &__item-span {
    flex: 0.8;
    padding: 0.3rem;
  }
  &--close {
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
      transition: transform 150ms;
    }
  }
  &--edit {
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
      background-color: #ccc;
    }
  }
  &__header-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

// the modal that would popup for adding a new label
.add-label-modal {
  background-color: white;
  margin: 10rem 5rem 10rem 5rem;
  max-height: 20rem;
  width: 20rem;
  outline: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__msg {
  }
  &__colors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__single-color {
    padding: 1rem;
    margin-right: 0.2rem;
    border-radius: 0.2rem;
    color: white;
    &:hover {
      transform: scale(1.8);
      transition: transform 150ms;
      cursor: pointer;
    }
  }
  &__header-txt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &--action {
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
  }
  &--add-btn {
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: white;
    border: 1px solid #cccccc;
    background-color: $complete-color;
  }
  &__cancel {
    border: none;
  }
  &__input {
    padding: 0.5rem;
    outline: none;
    border: 3px solid $background-color;
    border-radius: 0.3rem;
    &::placeholder {
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
    &:focus {
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ece;
    }
  }
  &--dl-btn {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 2px solid $background-color;
    cursor: pointer;
  }
}

// the button that changes the direction of boards
.btn-change-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: $background-color;
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
  visibility: hidden;
}
.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

// if is a phone show the direction button
@media only screen and (max-width: 480px) {
  .btn-change-direction {
    visibility: visible;
  }
}
