
$primary-color: rgb(62, 100, 255);
$complete-color: #27aa80;
$text-color: #172b4d;
$disabled-color: #fad6d6;
$background-color: #f5eaea;
$linear-bg: linear-gradient(90deg, rgba(20,20,20,50) 0%, rgba(40,40,40,70) 46%, rgba(60,60,60,60) 100%);

html {
  background: $linear-bg
}

body {
  color: $text-color;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  text-align: left;
}

.header{
  display: flex;
  flex: 1;
  background-color: $background-color;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  &__inner{
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
  }
}

#root{
  background: $linear-bg;
  display: flex;
  flex: 1;
  flex-direction: column;

}
.sidebar{
  min-width: 15rem;
  border: 1px solid #777;
  height: 70vh;
}
.middle{
  display: flex;
  flex-direction: row;
  height: 70vh;
  overflow-x: auto;
  padding:  5rem ;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;

  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(256,256,256,0.1);
  }
  &::-webkit-scrollbar-thumb {
    //background-color: #d6dee1;
    border-radius: 1rem;
  }
}
.header{
  grid-area: header;
  grid-row: 1;
  //border: 1px solid #777;

}
.content{
  display: flex;
  flex-direction: column;
  &__add-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__add-btn{
    height: 2rem;
    width: 2rem;
  }
  &__input{
    flex: 1;
    border: 2px solid $disabled-color;
    caret-color: red;
    font-size: 0.8rem;

    &:focus{
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ECE;
    }
    &::placeholder{
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
  }

}

.label {
  font-size: 1rem;
  display: block;
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}


.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: $background-color;
  max-height: 60vh;
  border-radius: .5rem;
  &__col-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
  }
  &__input{
    margin-top: .5rem;
    border: 2px solid $disabled-color;
    caret-color: red;
    font-size: 0.8rem;
    padding: 1rem;
    &:focus{
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ECE;
    }
    &::placeholder{
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.item {
  display: flex;
  min-height: 7vh;
  flex-direction: column;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 1;
  background-color: white;
  width: 14rem;

  &:hover{
    cursor: pointer;
  }
  &__content{

  }
  &__title{
    font-weight: 600;
    font-size: 0.8rem;
  }
  &__status{
    text-align: right;
  }
  &__label-section{
    padding-top:.5rem;

  }
  &__label-span{
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.1rem 0.2rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
    min-width: 1rem;
  }
  &__dl-btn{
    background-color: white;
    border: 1px solid #fff;
    color: #999999;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
      border:1px solid red;
      transition: transform 150ms;
    }

  }
  &__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.delete-modal{
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 10rem 10rem 25rem 10rem;
  width: 40rem;
  outline:none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__msg{
    align-self: center;
    font-size: 1.5rem;
  }
  &__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--action{
    cursor: pointer;
    padding: .4rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
  }
  &__icon{
    font-size: 1.5rem;
  }
  &__header-txt{
    font-size: 2rem;
    font-weight: 600;
  }
  &__alert{
    margin-right: .6rem;
  }
  &__yes{
    background-color: rgba(250,0,0,.3);
  }
  &__no{
    background-color: rgba(0,250,0,.3);
  }
  &__cancel{
    border: none;
  }
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  //flex: 1 ;
  //width: 100%;
  min-width: 17rem;

  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ccc;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eee;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $background-color;
    position: sticky;
    top: 0;
  }
  &__header-txt{
    font-size: 1.2rem;
    font-weight: 600;
  }
  &--icon{
    //padding: 0.5rem;
    cursor: pointer;
    transform: scale(1.2);

    &:hover{
      transform: scale(1.6);
      transition: transform 150ms;
      color: transparent;
      text-shadow: 0 0 0 #ff4400;
    }
  }
}


.modal {
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 4rem 2rem;
  //min-height: 450px;
  width: 40rem;
  outline:none;
  padding: 20px;
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    display: flex ;
    flex-direction: column;
  }
  &__desc{
    padding-left: 2.4rem;
  }
  &__status{
    padding-left: 2.2rem;
  }
  &__label-span{
    padding: .4rem .2rem;
    border-radius: .2rem;
    margin: 0.2rem;
  }
  &__label-labels{
    padding-left: 2.4rem;
    display: flex;
    flex-direction: row;
    color: white;
  }
  &__label--add{
    color: #555;
    border: 1px solid $complete-color;
    padding: .4rem .2rem;
    border-radius: .2rem;
    margin: 0.2rem;
    cursor: pointer;
  }
  &__closed-btn{
    background: transparent;
    cursor: pointer;
  &:hover{
    transform: scale(1.8);
    transition: transform 150ms;
  }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);;
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #DCDCDC;
}

.label-modal{
  background-color: #fff;
  justify-content: space-evenly;
  border-radius: .05rem;
  margin: 3rem ;
  width: 15rem;
  //min-height: rem;
  max-height: 35rem;
  outline: none;
  padding: 1rem;
  &__header{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid  $background-color ;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__input{
    height: 3rem;
    outline: none;
    border: 3px solid $background-color;
    border-radius: .3rem;
    &::placeholder{
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
    &:focus{
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ECE;
    }

  }
  &__add-btn{
    padding: .5rem;
    margin-top: 1rem;
    outline: none;
    border: 3px solid $background-color;
    border-radius: .3rem;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  &__item{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: .5rem;
    margin: 0.2rem .2rem .2rem 0;
    color: #fff;
    border-radius: .2rem;
    &:hover{
      cursor: pointer;
      border-left: 1rem solid  opacify(transparent,0.3);
    }
  }
  &__item-span{
    flex: .8;
    padding: .3rem;
  }
  &--close{
    cursor: pointer;
    &:hover{
      transform: scale(1.5);
      transition: transform 150ms ;
    }
  }
  &--edit{
    border-radius: .2rem;
    cursor: pointer;
    padding: .5rem;
    &:hover{
      background-color: #ccc;
    }
  }
  &__header-txt{
    font-size: 1.5rem;
    font-weight: 600;
  }
}


.label_content{
  margin: 2rem 0rem;

}

.add-label-modal{
  background-color: white;
  margin: 10rem 10rem 25rem 10rem;
  width: 20rem;
  outline:none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__msg{
  }
  &__colors{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__single-color{
    padding: 1rem;
    margin-right: .2rem;
    border-radius: .2rem;
    color: white;
    &:hover{
      transform: scale(1.8);
      transition: transform 150ms;
      cursor: pointer;
    }
  }
  &__header-txt{
    font-size: 1.5rem;
    font-weight: bold;
  }
  &--action{
    cursor: pointer;
    padding: .4rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
  }
  &--add-btn {
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid $background-color;
    cursor: pointer;

  }
  &__cancel {
    border: none;
  }
  &__input{
    height: 2rem;
    &::placeholder{
      font-family: cursive;
      font-weight: bold;
      font-size: 1rem;
    }
    &:focus{
      outline: none !important;
      border: 2px solid $complete-color;
      box-shadow: 0 0 10px #719ECE;
    }

  }
  &--dl-btn{
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid $background-color;
    cursor: pointer;
  }
}



@media only screen and (max-width: 767px) {
  button {
    content: '<i class="fa fa-plus"></i>';
  }
}


